body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 1350px;
    margin: 0 auto;
    color: rgb(44, 62, 80);
}

.container {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}