.top-section {
  min-height: 420px;
  background-image: url(../images/top-section-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &__inner {
    width: 100%;
  }
}

.slider {
  width: 100%;

  &__item {
    max-width: 50%;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 420px;
    padding-top: 90px;
    margin-right: 45px;
  }

  &__title {
    font-size: 55px;
    font-weight: 100;
    color: rgb(85, 85, 85);
    text-align: center;
    margin-bottom: 40px;
  }

  &__title-span {
    display: block;
  }

  &__link {
    color: white;
    background-color: $green;
    padding: 8px 23px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .slick-slide>div {
    display: flex !important;
    justify-content: flex-end !important;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    background-color: none;
    background: none;
    border: none;
    font-size: 0;
    width: 16px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/arrow.png);
  }

  .slick-prev {
    transform: rotate(180deg);
    left: 10px;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 20px;

    li {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 0;
      border: none;
      background-color: rgba(44, 62, 80, 0.5);
    }

    .slick-active {
      button {
        background-color: rgb(44, 62, 80);
      }
    }
  }
}